<!DOCTYPE html>
<html>
<head>
    <title>AngularJS puzzle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="lib/angular-1.0.0rc10.min.js"></script>
    <script type="text/javascript" src="js/puzzle.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body ng-app="puzzleApp" ng-controller="puzzleCtrl">
    <fieldset>
        <legend>Simple usage</legend>
        <puzzle class="puzzle" size="3x3" src="img/safari.png"></puzzle>
    </fieldset>

    <fieldset>
        <legend>Advanced usage</legend>
        <div class="advanced" ng-repeat="puzzle in puzzles" ng-class="{solved: puzzle.model.isSolved()}">
        <h2>{{puzzle.title}}</h2>
        <div class="status">
            moves: <strong>{{puzzle.model.moves}}</strong><br/>
            solved: <strong>{{puzzle.model.isSolved()}}</strong>
        </div>
        <div class="size">
            rows: <input type="text" ng-model="puzzle.rows" size="2"/>
            cols: <input type="text" ng-model="puzzle.cols" size="2"/><br/>
            <button ng-click="puzzle.model.shuffle()">shuffle</button>
            <button ng-click="puzzle.model.solve()">solve</button>
        </div>
        <puzzle class="puzzle" model="puzzle.model" size="{{puzzle.rows}}x{{puzzle.cols}}" src="img/{{puzzle.id}}.png"></puzzle>
    </fieldset>
</body>
</html>