* {
    font: 12pt 'Arial', 'Helvetica';
}
body {
    background-color: #f4f4f4;
    margin-top: 110px;
}
fieldset {
    margin: 0 0 30px 0;
    padding: 18px;
    border: 2px solid #ddd;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}
legend {
    font-weight: bold;
    padding: 3px 12px;
    display: block;
    background-color: #e4e4e4;
    border-radius: 6px;
}

.sliding-puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
}
.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
}
.sliding-puzzle .puzzle-empty {
    border: none;
    background-color: #ddd !important;
}
.sliding-puzzle.puzzle-solved td {
    border: none;
}


#types {
    margin: 0 0 40px 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
}
#types li {
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}
#types li a {
    font-size: 22pt;
    color: #999;
}
#types li.selected {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
}
#types li.selected a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#sliding-advanced > div {
    float: left;
    margin: 0 40px 0 0;
    min-width: 300px;
}
#sliding-advanced .sliding-puzzle {
    clear: both;
    margin-top: 30px;
}
#sliding-advanced h2 {
    margin: 0 0 10px 0;
}
#sliding-advanced .status {
    float: left;
    width: 40%;
    height: 50px;
}
#sliding-advanced .size {
    float: right;
    height: 50px;
    text-align: right;
}
#sliding-advanced .src input {
    width: 98%;
    font-family: "Courier New";
    margin-bottom: 4px;
}