* {
    font-family: 'Arial', 'Helvetica';
}
fieldset {
    margin-bottom: 30px;
}
.puzzle {
    border: 1px solid #ccc;
    border-spacing: 0;
}
.puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
}
.puzzle td.empty {
    border: none;
    background-color: #ddd !important;
}
.advanced {
    float: left;
    padding: 20px;
    margin: 0 20px 0 0;
    min-width: 300px;
}
.advanced .puzzle {
    clear: both;
    margin-top: 30px;
}
.advanced.solved .puzzle td {
    border: none;
}
.advanced .puzzle td {
    cursor: pointer;
    padding: 0;
}
.advanced h2 {
    margin: 0 0 10px 0;
}
.advanced .status {
    float: left;
    width: 40%;
    height: 50px;
}
.advanced .size {
    float: right;
    height: 50px;
}